# Review Service - Light
image:
  repository: santhe/review-and-rating-service
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: review-and-rating-service
fullnameOverride: review-and-rating-service

service:
  port: 8000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

istio:
  enabled: true
  virtualService:
    enabled: true
    hosts:
      - review-and-rating-service.local
    routes:
      - destination:
          host: review-and-rating-service
          port:
            number: 8000

migrations:
  enabled: true
