# Analytics Service - Light
image:
  repository: santhe/analytics-and-reporting-service
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: analytics-and-reporting-service
fullnameOverride: analytics-and-reporting-service

service:
  port: 8000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

istio:
  enabled: true
  virtualService:
    enabled: true
    hosts:
      - analytics-and-reporting-service.local
    routes:
      - destination:
          host: analytics-and-reporting-service
          port:
            number: 8000

migrations:
  enabled: true
