# Logistics Service - Light
image:
  repository: santhe/logistics-management-service
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: logistics-management-service
fullnameOverride: logistics-management-service

service:
  port: 8000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

istio:
  enabled: true
  virtualService:
    enabled: true
    hosts:
      - logistics-management-service.local
    routes:
      - destination:
          host: logistics-management-service
          port:
            number: 8000

migrations:
  enabled: true

env:
  - name: DATABASE_URL
    value: "postgresql+psycopg://postgres:postgres@postgres-postgresql.santhe.svc.cluster.local:5432/logistics_management_service_db"
  - name: SECRET_KEY
    value: "supersecret"
