# Logistics Service - Light
image:
  repository: santhe/logistics-management-service
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: logistics-management-service
fullnameOverride: logistics-management-service

service:
  port: 8000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

istio:
  enabled: true
  virtualService:
    enabled: true
    hosts:
      - logistics-management-service.local
    routes:
      - destination:
          host: logistics-management-service
          port:
            number: 8000

migrations:
  enabled: true
