# Core Framework
fastapi==0.109.2
uvicorn==0.27.1

# Database
sqlalchemy==2.0.27
psycopg2-binary==2.9.9
alembic==1.13.1

# Pydantic
pydantic==2.6.1
pydantic-settings==2.1.0

# Utils
requests==2.31.0

# Testing
pytest==8.0.0
httpx==0.26.0

# Linting
ruff==0.2.0
