# Pricing Service - Light
image:
  repository: santhe/pricing-service
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: pricing-service
fullnameOverride: pricing-service

service:
  port: 8000

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 100m
    memory: 128Mi

istio:
  enabled: true
  virtualService:
    enabled: true
    hosts:
      - pricing-service.local
    routes:
      - destination:
          host: pricing-service
          port:
            number: 8000

migrations:
  enabled: true
