name: Terraform Apply

on:
  workflow_dispatch:
    inputs:
      AWS_REGION:
        description: 'AWS region to deploy to'
        required: true
        default: 'ap-south-2'
      ENVIRONMENT:
        description: 'Deployment environment (e.g., sbx, qa, uat, pre-prd, prd)'
        required: true
        default: 'sbx'
      VPC_CIDR:
        description: 'VPC CIDR block'
        required: true
      ASSUME_ROLE_ARN:
        description: 'IAM role ARN to assume'
        required: true

jobs:
  terraform-apply:
    # Ensure only one deployment runs per environment at a time
    concurrency: 
      group: ${{ github.workflow }}-${{ github.event.inputs.ENVIRONMENT }}
      cancel-in-progress: false

    uses: ./.github/workflows/terraform-logic.yml
    with:
      environment: ${{ github.event.inputs.ENVIRONMENT }}
      region: ${{ github.event.inputs.AWS_REGION }}
      command: 'apply'
    secrets:
      vpc_cidr: ${{ github.event.inputs.VPC_CIDR }}
      assume_role_arn: ${{ github.event.inputs.ASSUME_ROLE_ARN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TOKEN: ${{ secrets.GITHUB_TOKEN }}