name: Terraform PR
on: [pull_request]
jobs:
  terraform-pr:
    uses: ./.github/workflows/terraform-logic.yml
    with:
      # Defaults for PR checks - assume sbx environment
      environment: 'sbx' 
      region: 'ap-south-2'
      command: 'plan'
    secrets:
      vpc_cidr: ${{ secrets.PR_VPC_CIDR }}
      assume_role_arn: ${{ secrets.PR_ASSUME_ROLE_ARN }}
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      TOKEN: ${{ secrets.GITHUB_TOKEN }}
